<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    
    <!--
        <form action="http://192.168.0.35:8080/search_movies" method="post">
    
    -->
    
    <form action="http://127.0.0.1:8080/search_movies" method="post">
        szukaj:
        page <input type="text" name="page"><br/>
        include_adult <input type="checkbox" name="include_adult"><br/>
        region <input type="text" name="region"><br/>
        year <input type="text" name="year"><br/>
        primary_release_year <input type="text" name="primary_release_year"><br/>
        query <input type="text" name="query" required><br/>
        <input type="submit" value="wyślij">
    </form>
</body>
</html>
